{% extends 'base.html' %}
{% load i18n %}

{% load account %}

{% block contents %}
{% if user.is_authenticated %}<!---->
<a class="btn btn-primary" href="/accounts/edits" role="button">Edit Profile</a>
<p>Welcome {{ user.username }} !!!</p><img src="{{ user.avatar.url }}" width=200px />
<h3>Последний вход: {{ user.last_login }}</h3><!---->


  <!--Exit buuton -->

    <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
    </form>
    <!--end exit button -->

    {% else %}<!-- authenticated system -->

{% endif %}<!-- end authenticated -->
{% endblock %}
