{% load i18n %}

{% load account %}
{% load staticfiles %}
{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>Site News</title>
    <meta charset="utf-8">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>--><!---->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">News City</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Домой<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/news/">Новости <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/oiijoioj/">Page error</a>
        <a class="nav-item nav-link active" href="/news/search/">Поиск <span class="sr-only">(current)</span></a>
        <!--<a class="nav-item nav-link active" href="/accounts/login/">login <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/accounts/signup/">Regist <span class="sr-only">(current)</span></a>
        <<a class="nav-item nav-link active" href="/accounts/password/reset/">Reset password <span class="sr-only">(current)</span></a>-->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Профиль
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="/accounts/profile/">Профиль</a>
          <a class="dropdown-item" href="/news/add/">Добавить новость</a>
          {% else %}
          {% endif %}
          {% if user.is_authenticated %}
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
              </form>
                  {% else %}
                  <a class="dropdown-item" href="/accounts/login/">Login</a>
              {% endif %}
        </div>
      </li>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
<div class="container">
  <h2><small>{% block pagetitle %}{% endblock %}</small></h2>
  {% block contents %}
  {% endblock %}

  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  {% block javascript %}{% endblock %}
</div>
  </body>
</html>
